.root {
    padding: 32px;
    margin: 10px;
    box-shadow: var(--shadow-smallest);
    border-radius: 8px;
    width: 300px;
    max-width: 100%;
    transition: ease 0.2s box-shadow;
  }
  
.root:hover {
    box-shadow: var(--shadow-medium);
}

.input {
    flex: 1 1 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.invalid {
    display: inline-block;
    color: red;
    margin: 4px 8px;
    font-size: 10px;
}

.timer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnContainer {
    display: flex;
}

@media (max-width: 768px) {
    .btnContainer {
        flex-direction: column;
    }

    .root {
        width: 100%;
    }
}