.layout {
    height: 100%;
    overflow: auto;
    border-radius: 8px;
    box-shadow: var(--shadow-smallest);
    background: #fff;
}

.innerRow {
    display: flex;
    flex-direction: row;
}

/* tablets */
@media (max-width: 768px) {
    .innerRow {
        flex-direction: column;
        /* margin-top: 10px; */
    }
}